.content-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/fontMain.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


.right-panel {
  margin: 0 auto;
  width: 50%;
}


@media screen and (max-width: 960px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .left-panel,
  .right-panel {
    margin: 0 auto;
  }
}



.left-panel {
  margin: 10vh auto;
}

.profile-image {
  width: 60%;
     }

.animated-section button {
  border: none;
  border-radius: 10px;
  width: 40%;
  padding: 10px;
  margin: 20px;
  background-color: #000000b5;
  transition: all 0.3s ease-in-out;
}

.animated-section button:hover {
  width: 50%;
  background-color: #fafafa;
}

.animated-section button a {
  text-decoration: none;
  color: #ffe6cf;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

.animated-section button a:hover {
  color: #000000b5;
}

.left-panel p {
  margin-top: 10px;
  width: 100%;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  color: #ffffff;
}

.right-content h1 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  font-optical-sizing: auto;
  color: #ffffff;
  margin: 0;
}

.right-content p {
  font-family: "Unbounded", sans-serif;
    font-size: large;
}

.button-group {
  display: flex;
  gap: 5%;
}

.social-button {
  background: -webkit-linear-gradient(to right, #ffffff, #00fffb, #00ff95);
  background: linear-gradient(to right,#8b00d5, #5100c4, #016edbda);
  border: none;
  padding: 20px;
  width: 20%;
  border-radius: 5px;
  color: #fffafa;
  text-decoration: none;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  font-optical-sizing: auto;
  transition: all 0.3s;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.social-button:hover {
  background: #0000000f;
  color: #ffffff;
  border: none;
  box-shadow: 2px 2px 10px rgb(159, 159, 159);
}

.linkedin-button {
  background: #0000000f;
  color: #ffffff;
}

.linkedin-button a {
  color: #fafafa !important;
}

.social-links {
  width: 80%;
  display: flex;
  padding-left: 5%;
  gap: 5%;
}

.arrow-icon {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(111, 111, 111);
  padding: 10px;
  margin: 0 20px;
  display: flex;
}

.social-links img {
  width: 20px;
}

.section-main {
  background: none !important;
}

@media screen and (max-width: 960px) {
  .right-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .right-content h1 {
    font-size: 2.4em;
  }
  .right-panel {
    margin: 0 auto;
    width: 77%;
}
  .animated-section {
    height: 300px;
  }
  .button-group {
    display: flex;
    gap: 5%;
    justify-content: center;
  }
  .social-button {
    background-color: #16161600;
    width: 30%;
  }
  .arrow-icon {
    width: 30px;
    height: 30px;
    margin-top: 10%;
  }

}

