.main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40vh;
  overflow: hidden;
}

.profil {
  width: 300px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  position: relative;
  color: #d4ab69;
  font-size: 5rem;
  margin: 0;
}


.main p {
  margin: 0;
  color: #d4ab69;
  font-size: 2rem;
  font-family: "Rajdhani", sans-serif;
}

.content-wrapper {
  display: flex;
  align-items: center;
  background-image: url("../../assets/fontHome.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: top;
}

.arrow {
  width: 25px;
  filter: hue-rotate(0deg) brightness(0.5);
  border-radius: 50px;
  padding: 10px;
  background-color: #0e0e0ee8;
  border-top: 2px solid #d4ab69; 
  transition: all 0.2s;
  margin-top: 20px;
}
.arrow:hover{
  background-color:  #080808;
  border-top: 2px solid #00000098; 
}
