.main {
    /* height: 90vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    overflow: hidden;
    text-align: center;
}

.profil {
  width: 450px; /* Taille ajustée pour responsivité */
  max-width: 80%;
}

.name {
  font-size: 88px;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #d4ab69;
  font-size: 4rem;
  margin: 0;
}

h1 span {
  font-size: 1.5rem;
  color: #d4ab69;
}

.main p {
  margin: 0;
  color: #d4ab69;

  font-family: "Rajdhani", sans-serif;
}

h2.sub-text {
  color: #bababa;
  font-size: 1.2rem;
  margin-top: 20px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  background-image: url("../../assets/fontHome.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: top;
}

.arrow {
  width: 20px;
  filter: hue-rotate(200deg) brightness(5);
  border-radius: 50px;
  padding: 10px;
  background-color: #131413e8;
  border: 2px solid #402f14;
  transition: all 0.2s;
  margin-top: 20px;
  rotate: 180deg;
}

.arrow:hover {
  filter: hue-rotate(150deg) brightness(2);
  border-top: 2px solid #00000098;
  rotate: 0deg;
}

/* Responsivité */
@media screen and (max-width: 767px) {
  .main {
    padding: 10px;
  }

  .profil {
    width: 200px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h1 span {
    font-size: 1rem;
  }

  .main p {
    font-size: 1.2rem;
  }

  h2.sub-text {
    font-size: 1rem;
  }

  .arrow {
    width: 20px;
    padding: 5px;
  }
}
