.nav-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.nav-links img {
  width: 40px;
  height: 40px;
  border-radius: 10%;
}

.navbar-link {
  z-index: 10;
  padding: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #0e0e0e9a;
  border: 1px solid #D9C6AE;
  border-radius: 50px;
}

.nav-links a {
  padding: 15px;
  margin: 10px;
  transition: all 0.3s ease-out;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  color: #D9C6AE;
  text-align: center;
}

.nav-links a:hover {
  color: #222222;
  background-color: #da9a9a;
  border-radius: 50px;
}
/* @media screen and (max-width: 430px) {
  .nav-links img {
    display: contents;
  } */