.project-main {
  display: flex;
  flex-direction: column; /* Modifié pour s'empiler sur petits écrans */
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.project-main-realisation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.realisation-container {
  display: flex;
  flex-direction: row; /* Aligne les items côte à côte par défaut */
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap; /* Pour passer en colonne si nécessaire */
  gap: 20px; /* Espacement entre les items */
}

.realisation-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.computer {
  margin: 50px 0 150px 0;
}

.realisation-number span {
  color: #d4ab69;
  font-family: "Rajdhani", sans-serif;
  font-size: 3.5em;
  font-weight: 100;
}

.realisation-number p {
  color: #d4ab69;
  margin: 0;
  font-size: 1.2em;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

.project-title {
  color: #bababa;
  margin: 20px 0;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 767px) {
  .project-main {
    padding: 10px;
  }

  .project-title {
    font-size: 2em;
    text-align: center;
  }

  .realisation-container {
    flex-direction: column; /* Passer en colonne sur mobiles */
    align-items: center;
  }

  .realisation-number span {
    font-size: 2em;
  }

  .realisation-number p {
    font-size: 1em;
  }

  .computer {
   width: 50%;
  }

}
