.project-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.project-main-realisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.realisation-number span {
  display: flex;
  color: #d4ab69;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
}
.realisation-number p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d4ab69;
  margin: 0;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

.project-title {
  color: #ffffff;
  margin: 0 30px;
  margin-top: 120px;
  padding: 30px;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}


@media screen and (max-width: 767px) {
  .project-main {
    background-image: none;
    background-color: #c9b5f8;
  }

  .project-title {
    font-size: 1.8em;
  }
  
  .project-container {
    width: 90% !important;
  }

  .project-description {
    width: 90%;
    font-size: medium;
    margin: 20px auto;
  }

  .project-list {
    flex-direction: column;
    padding: 20px;
  }

  .project-item {
    width: 100%;
    margin: 10px 0;
  }
}
