.section-mention {
  width: 100%;
  overflow: hidden;
  background-image: url(/ACtech/src/assets/fontMention.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

.recommendation-img {
  width: 100%;
  margin-top: 10vh;
}

.accommodation-p {
  color: rgb(255, 255, 255);
  margin: 0 70px;
  font-size: 1.3em;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.recommendation-card {
  width: 200%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

.recommendation-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-recommendation {
  display: flex;
  align-items: center;
  gap: 10%;
}

.header-recommendation > p {
  text-align: center;
  margin: 0;
}

.header-recommendation h3 {
  margin: 0;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: medium;
  width: 120px;
}

h4 {
  color: #ffffff;
  margin-bottom: 30px;
  font-family: "Unbounded", monospace;
  font-weight: 300;
  font-size: 14px;
}

.recommendation-img p {
  font-family: "Rajdhani", sans-serif;
  color: #0e0e0e;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #D9C6AE;
}

.recommendation-block {
  background-color: #0e0e0e !important;
  color: #D9C6AE !important;
}


.recommendation-block{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.recommendation-block{
  display: inline-block;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}


.stars {
  width: 60px;
  height: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .accommodation-p {
    font-size: 2em;
  }

  .recommendation-img-div {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .recommendation-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .header-recommendation > p {
    width: auto;
    padding: 5px 10px;
  }
}
