.section-mention {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-content {
  opacity: 0;
  min-height: 0; /* Utilise min-height au lieu de height */
  max-height: 0; /* Commence avec une hauteur de 0 */
  transition: opacity 0.1s ease-in-out, max-height 0.1s ease-in-out;
  overflow: hidden; /* Cache le contenu en dehors de la zone visible */
}

.section-content.open {
  opacity: 1;
  max-height: 100px; /* Une hauteur suffisante pour contenir le contenu */
}

.section-content.close {
  opacity: 0;
  max-height: 0; /* Retourne à une hauteur de 0 */
}

.recommendation-img {
  width: 100%;
  margin-top: 1vh;
  min-height: 20px; /* Ajustez cette valeur selon votre contenu */
  overflow: hidden; /* Évitez que le contenu déborde */
}

/* Styles de la barre de défilement */
::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
  background: #ff8d8d; /* Couleur de la barre de défilement */
  border-radius: 4px; /* Arrondir la barre de défilement */
}

.recommendation-card {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 10vh;
}

.header-recommendation {
  background-color: rgba(0, 0, 0, 0.68); /* Couleur noire avec opacité */
  animation: animate-in 2s backwards;
}

@keyframes animate-in {
  from {
    opacity: 0;
    clip-path: inset(20% 0% 50% 0%);
  }
  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

.recommendation-block {
  display: inline-block;
  width: 30%;
  color: #D9C6AE;
  border: 2px solid #2b2b2b;
  box-shadow: 8px 2px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 30px;
}

.recommendation-author {
  font-family: "Rajdhani", sans-serif;
  color: #0e0e0e;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 30%;
  font-size: x-large;
  font-weight: 600;
  background-color: #D9C6AE;
}

.recommendation-role {
  font-family: "Unbounded", sans-serif;
  color: #ffffff;
  margin: 0;
  text-decoration: underline;
  font-size: small;
  font-weight: 100;
}

.recommendation-p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.1rem;
}

.stars {
  width: 60px;
  height: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .recommendation-author {
    font-size: 1.5rem;
    padding: 15px;
  }

  .recommendation-p {
    font-size: 1.2rem;
  }

  .recommendation-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .recommendation-block {
    width: 90%;
    padding: 20px;
  }
}
