.section-mention {
  width: 100%;
  overflow: hidden;
  background-image: url(/ACtech/src/assets/fontMention.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-content {
  transition: opacity 0.5s ease-in-out;
}

.section-content.visible {
  opacity: 1;
}

.recommendation-img {
  width: 100%;
  margin-top: 10vh;
}


.recommendation-card {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 10vh;
  animation: scroll-left 30s linear infinite; /* Exemple, ajustez selon votre classe */
}

.recommendation-card:hover {
  animation-play-state: paused; /* Met l'animation en pause au survol */
}

.recommendation-card-header {
  display: flex;
}

.header-recommendation {
  background-color: #000000af;
}

.recommendation-block {
  display: inline-block;
  width: 30%;
  color: #D9C6AE;
  border: 2px solid #2b2b2b;
  box-shadow: 8px 2px  20px rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px;
}

.recommendation-author {
  font-family: "Rajdhani", sans-serif;
  color: #0e0e0e;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 30%;
  font-size: x-large;
  font-weight: 600;
  background-color: #D9C6AE;
}

.recommendation-role {
  font-family: "Unbounded", sans-serif;
  color: #ffffff;
  margin: 0;
  text-decoration:underline;
  font-size: small;
  font-weight: 100;
}

.recommendation-p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.1rem;
}

.scroll-left {
  animation: scroll-left 15s linear infinite;
}

.scroll-right {
  animation: scroll-right 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(80%) ;
  }
  100% {
    transform: translateX(-80%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(80%);
  }
}

.stars {
  width: 60px;
  height: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .accommodation-p {
    font-size: 2em;
  }

  .recommendation-img-div {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .recommendation-card {
    width: 90%;
    margin-bottom: 20px;
  }
}
