/* General Layout */
.container {
  padding: 20px;
  text-align: center;
  background-color: #2b2b2b; /* Fond sombre */
  color: #bababa;
}

/* Card Styles */
.cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px; /* Espacement entre les cartes */
  margin-top: 20px;
}

.container {
  overflow: hidden;
  font-size: xx-large;
}

.project-card {
  background-color: #1c1c1c; /* Fond sombre pour chaque carte */
  border-radius: 20px;
  padding: 20px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-20px);
}

.card-header {
  font-size: 2rem;
  color: #d4ab69; /* Couleur dorée */
  margin-bottom: 10px;
}

.card-content {
  margin-top: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #bababa;
  margin: 10px 0;
  font-family: "Rajdhani", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size:large;
}

.card-description {
  font-size: 1rem;
  color: #d4ab69;
  margin-bottom: 20px;
  font-family: "Rajdhani", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size:large;
}

.card-number {
  display: inline-block;
  background-color: #9b8055; /* Couleur dorée du bouton */
  padding: 10px 20px;
  color: #e8e8e8;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size:large;
}

.card-link:hover {
  background-color: #ff9e2c; /* Changement de couleur au survol */
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 80%;
    margin-bottom: 20px;
  }
}
