.scroller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 50px;
}

.scroller-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 70%;
  
}

.project-card {
  background-color: rgba(0, 0, 0, 0.236);
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
}



.project-card:hover {
  transform: translateY(-5px);
  background: linear-gradient(to right, #0e0e0e, #0e0e0e, #0e0e0e);
  box-shadow: 0 -10px 25px #d9c6ae33;
}

.project-card-top {
  background-color: #0e0e0e;
  border: 1px solid #D9C6AE;
  padding: 20px;
}

.project-card h2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #D9C6AE;
  text-align: center;
}

.project-details {
  display: none;
  background-color: #202020f1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99%;
  height: 99%;
  padding: 3px;

}

.projet-details-elements{
  display: flex;
  flex-direction:column ;
  align-items: center;
  gap: 10px;
}

.project-card:hover .project-details {
  display: block; /* Affiché lors du survol */
}

.project-icons {
  display: flex;
  justify-content: center;
  padding: 15px;

}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: brightness(0.9) saturate(150%) invert(50%) sepia(30%) hue-rotate(10deg) contrast(95%);
}

.project-details p {
  font-family: "Rajdhani", sans-serif;
  color: #d6d6d6;
  margin: 0;
  padding-left: 3px;
  padding-right: 3px;

}
.project-details button {
  width: 30%;
  margin-top: 10px;
  background-color: #0e0e0e56;
  color: #D9C6AE;
  padding: 10px 0;
  border-radius: 5px;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: #ffffff4f 1px solid;
}

.project-details button:hover {
  background-color: #D9C6AE;
  color: #0E0E0E;
}

.project-details button a {
  text-decoration: none;
  color: inherit; /* Utilise la couleur héritée du bouton */
}

.project-details button:hover a {
  color:#0E0E0E; /* Change la couleur du lien au survol du bouton */
}


.project-image {
  width: 100%;
  height: 200px;
  border-radius: 20px;}

@media screen and (max-width: 767px) {
  .scroller-content {
    justify-content: flex-start;
    padding: 0 10px;
  }

  .project-card {
    width: 100%;
    margin-bottom: 20px;
    height: auto; /* Pour s'adapter dynamiquement au contenu */
  }
}
