.scroller-content {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-card {
  position: relative;
  margin-bottom: 80px;
  width: 40%;
  height: 250px;
}


.project-image {
  width: 100px;
  height: auto;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.project-details {

  border-radius:0 0 2px 2px ;
  display: flex;
  justify-content: flex-start;
}

.projet-details-elements{
  background-color: #191715;
  padding: 30px;
  height: 170px;
  transition: all 0.3s;
}

.projet-details-elements:hover {
box-shadow: #1a1a1acb 0px -10px 10px ;
}

h2 {
  font-size: large;
  color: #ffffff;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
}

.github-button a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
}

.github-button {
  padding: 5px 15px;
  width: 100%;
  height: 35px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color:#191715;
  font-family: "Rajdhani", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size:large;
}

.github-button:hover {
  background-color:   #d4ab69;

}

.project-text p {
  margin: 5px 0;
  color: #ffcf83;
  font-family: "Rajdhani", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size:medium;
}
