.scroller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 50px;
}

.scroller-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
}

.project-card {
  
  background-color: rgba(0, 0, 0, 0.236);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.988);
  overflow: hidden;
  transition: all 0.3s ease;
  width: 300px;
  height: 325px;
}



.project-card:hover {
  transform: translateY(-5px);
  background: linear-gradient(to right, #465ad9, #00fffb, #7500e3);

  box-shadow: 0 8px 16px rgba(70, 70, 70, 0.2);
}

.project-card-top {
  background-color: rgba(255, 255, 255, 0.073);
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project-card h3 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.project-details {
  display: none;
  padding: 1rem;
  background-color: #202020f1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
  transition: opacity 0.3s ease;
}

.project-card:hover .project-details {
  display: block; /* Affiché lors du survol */
}

.project-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: brightness(0) saturate(50%) invert(54%) sepia(37%) saturate(9678%) hue-rotate(1654deg) brightness(100%) contrast(101%);
}

.project-details p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #d6d6d6;
  margin: 0;
  padding-top: 20px;
}

.project-details button {
  width: 100%;
  margin-top: 20px;
  background-color: #5d00ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-details button:hover {
  background-color: #3a0080;
}
.project-details button a{
text-decoration: none;
}

.project-image {
  width: 100%;
  height: 200px;
  border-radius: 20px;}

@media screen and (max-width: 767px) {
  .scroller-content {
    justify-content: flex-start;
    padding: 0 10px;
  }

  .project-card {
    width: 100%;
    margin-bottom: 20px;
    height: auto; /* Pour s'adapter dynamiquement au contenu */
  }
}
